@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prism-themes/themes/prism-vsc-dark-plus.css';

@layer base {
    .nav-item{
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300
    }
    .hero-ring{
        @apply  absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
    }
}

@layer utilities {
    .container {
        @apply lg:max-w-5xl;
    }
    
}

/* CSS rules added from the next-articles tutorial -- part 1 */
@layer base {
  :root {
    /* code highlight */
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  body {
    @apply flex flex-col min-h-screen;
  }

}

/* My own CSS rules */
@layer base {
   .text-legibility {
      text-rendering: optimizeLegibility;
    }
}


/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.blockquote > #note::before {
  content: "#";
  padding: 5px;
}
